p {
  color: #29125e;
}
a {
  color: blue;
}
h1 {
  color: #ffc;
  background-color: #009;
  border-style: dashed;
  border-color: #20cde8;
  border-width: 15px;
  text-align: center;
}
body {
  font-size: 3em;
  background-color: #e3ec97;
}
table {
  font-weight: bolder;
}
address {
  text-decoration: underline;
  text-transform: lowercase;
}
h3 {
  padding: 250px;
}
