p {
  color: red;
}
a {
  color: blue;
}
h1 {
  color: #ffc;
  background-color: #009;
}
body {
  font-size: 3em;
  background-color: #40fe6d;
}
table {
  font-weight: bolder;
}
address {
  text-decoration: underline;
  text-transform: lowercase;
}
h3 {
  padding: 250px;
}
